
[data-section="projects"]::after {
    content: "";
    position: absolute;
    margin: auto 0px;
    top: 0;
    left: -150px;
    bottom: 0;
    opacity: 0.7;
    filter: blur(10em);
    background: rgb(130,68,255);
    background: linear-gradient(126deg, rgba(130,68,255,1) 40%, rgba(249,38,174,1) 100%);
    border-radius: 9999px;
    width: 300px;
    height: 300px;
}

.projects-container {
    height: 100%;
}

.projects-container .full-height-section {
    padding: 3rem 2rem 3rem 2rem;
}

.projects-title {
    padding-left: 1rem;
    width: 100%;
}

[data-section="projects"] .background-text {
    left: -10rem;
    transform: rotateZ(50deg);
    font-size: 27rem;
}

.projects-area {
    margin-left: -1.3rem;
    margin-right: -0.8rem;
}

.project-image-container {
    transition: all ease-in-out 0.15s;
}

.project-image-container:hover {
    cursor: pointer;
    transform: translateY(-10px) !important;
}

.project-image-container:hover .project-image{
    opacity: 0.7;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 300px 50px black;
}

.project-image {
    box-shadow: var(--box--shadow--large);
}

.project-image img {
    border-radius: 5px;
    /*box-shadow: var(--box--shadow--large);*/
    border: 2px solid rgba(13, 28, 54, 0.7);
}

.project-overlay-contents {
    display: none;
}

.project-image-container:hover .project-overlay-contents {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.project-type {
    margin: 0 0 -10px 0;
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem !important;
}

.project-container:nth-of-type(3n+1) .project-type {
    color: theme('colors.purple.600');
}

.project-container:nth-of-type(3n+2) .project-type {
    color: theme('colors.green');
}

.project-container:nth-of-type(3n+3) .project-type {
    color: theme('colors.pink');
}

.project-title {
    color: theme('colors.neutral.0');
    font-size: 2rem;
    margin-top: 0;
}

.project-container .project-content{
    position: relative;
    z-index: 10;
}

.project-container  .project-description {
    box-shadow: var(--box--shadow--small);
    padding: 25px;
    border-radius: 10px;
    background-color: theme('colors.blue.850');
    font-size: 18px;
    /*border: 1px solid theme('colors.blue.750');*/
}

.project-container:nth-of-type(3n+1) .project-description {
    border-right: 6px solid theme('colors.purple.600');
}

.project-container:nth-of-type(3n+2) .project-description {
    border-left: 6px solid theme('colors.green');
}

.project-container:nth-of-type(3n+3) .project-description {
    border-right: 6px solid theme('colors.pink');
}

.project-container:nth-of-type(3n+4) .project-description {
    border-left: 6px solid theme('colors.purple.600');
    border-right: 1px solid theme('colors.blue.750');
}


.project-description p{
    margin: 0;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    font-family: 'Manrope', sans-serif;

}

.project-tech-stack li {
    margin: 0px 20px 5px 0px;
}

.project-links {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.project-links .icon-link{
    display: inline-block;
    color: theme('colors.neutral.0');
    font-size: 1.5em;
    transition: 0.3s ease-in-out
}

.project-links .icon-link:hover{
    
    transform: translateY(-5px);
}

.project-container:nth-of-type(3n+1) .icon-link:hover{
    color: theme('colors.purple.600');
}

.project-container:nth-of-type(3n+2) .icon-link:hover{
    color: theme('colors.green');
}

.project-container:nth-of-type(3n+3) .icon-link:hover{
    color: theme('colors.pink');
}

.project-links a {
    margin-right: 10px;
}

.project-links a:hover {
    color: theme('colors.purple.600');
}

.project-links a:first-child {
    margin-right: 20px;
}

.project-slide-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.project-slide-btn > button {
    border: 2px solid theme('colors.green');
    width: 45px;
    height: 45px;
}

.card {
    background-color: var(--neutral-1000);
    border-radius: 10px;
    box-shadow: var(--box--shadow--small);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    border: 1px solid theme('colors.blue.750');
    border-left: 6px solid theme('colors.purple.600');
}

/*
.project-grid:nth-of-type(3n+1) .card{
    border-left: 6px solid theme('colors.purple.600');
}

.project-grid:nth-of-type(3n+2) .card{
    border-left: 6px solid theme('colors.green');
}

.project-grid:nth-of-type(3n+3) .card{
    border-left: 6px solid theme('colors.pink');
}
*/

.card:hover {
    box-shadow: var(--box--shadow--large);
    /*cursor: pointer;*/
    transform: translateY(-10px) !important;
}

.card:hover .other-projects-title > a {
    color: theme('colors.purple.600');
}

.card a {
    position: relative;
    z-index: 10;
}

.card .project-links {
    margin: 0;
}

.other-projects-title {
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

.other-projects-title a{
    color: theme('colors.neutral.0');
}

.other-project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    padding: 0;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

.other-project-tech-stack li:first-of-type {
    margin: 0px 0px 5px 0px;
}

.other-project-tech-stack li {
    margin: 0px 0px 5px 20px;
}

.more-to-come {
    font-size: 3rem;
    color: theme('colors.neutral.0');
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    margin: 0;
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {

    .projects-title {
        padding-left: 0;
    }

    .projects-area {
        margin: 0;
    }

    .other-project-header {
        font-size: 3rem;
    }

    .project-container:nth-of-type(odd) .project-content {
        text-align: left !important;
        margin-right: 0;
        margin-left: 0;
    }
    
    .project-container:nth-of-type(even) .project-content {
        text-align: right !important;
        margin-left: 0;
        margin-right: 0;
    }

    .project-container:nth-of-type(even) .project-tech-stack {
        justify-content: end;
    }
    
    .project-container:nth-of-type(even) .project-tech-stack li {
        margin: 0px 0px 5px 20px;
    }

    .project-container:nth-of-type(even) .project-links {
        justify-content: flex-end;
    }    

    .project-container:nth-of-type(2n) .project-links a:first-child {
        margin-left: 20px;
        margin-right: 0px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {

    .project-container:nth-of-type(odd) .project-content{
        margin-right: -150px;
    }
    
    .project-container:nth-of-type(even) .project-content {
        margin-left: -150px;
    }

    [data-section="projects"] .background-text {
        left: 3rem;
        transform: rotateZ(25deg);
    }

}
