* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}


html, body { 
    height: auto; 
}

body {
    font-family: plus jakarta sans,sans-serif;
    color: var(--tn-secondary);
    /*background: var(--tn-main-bg-color);*/
    background-image: url("../../images/grain-background.png");
    background-color: black;
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: overlay;
}


.container {
    width: 100%;
    /*height: 100vh;
    /*
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    */
    overflow: hidden;
}


.slides {
    width: 100%;
    height: 100vh;
    /*scroll-snap-align: start;*/
    padding: 0 40px;
    top: 0;
}


:root {
    /* Colors */
    --tn-main:#0e0e0e;
    --tn-lighter-main: #515152;
    --tn-primary: #8c52ff;
    --tn-primary-darker: #608b84;
    --tn-primary-dull: #be863e;
    --tn-secondary: #fff;
    --tn-mid-grey: #666;
    --tn-light-grey: #bbb;
    --tn-lighter-grey: #edeef5;
    /*--tn-main-bg-color: #2c2b35; #252934*/
    --tn-main-bg-color: #1c1c1c;
    --tn-menu-bg-color: #101010;
    --tn-text-color: #b4b4b4;

    --tn--bg--light: #ffffff;
    --tn--text--light: #1b232a;
}

h1 {
    margin: 0;
    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
    position: relative;
    color: var(--tn-secondary);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -12px;
}

h1 > span {
    display: inline-block;
}

h1 > span:hover {
    color: var(--tn-primary);
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
    cursor: pointer;
}

h2 {
    margin: 0;
    color: var(--tn-secondary);
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    letter-spacing: -8px;
    line-height: 1;
}

h2 > span:hover {
    color: var(--tn-primary);
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
    cursor: pointer;
}

h4 {
    margin: 0;
    color: var(--tn-secondary);
}

p {
    color: var(--tn-text-color);
}

a {
    text-decoration: none !important;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    color: var(--tn-secondary);
}

.vertical-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.vertical-container > div {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.vertical-container > div::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--tn-secondary);
}

.vertical-container > div > a{
    margin: 20px auto;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    line-height: 22px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}

.vertical-container > div > a:hover{
    color: var(--tn-primary);
    transform: translateY(-5px);
}

.logo {
    position: absolute;
    right: 0;
    top: 20%;
    transform: rotateZ(-30deg);
    z-index: 1;
}

.logo img{
    width: 700px;

}

.intro-text {
    margin: 0;
    color: var(--tn-text-color);
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}

.purple-text {
    color: var(--tn-secondary);
}

.full-height-section  {
    height: 100%;
    padding: 9rem 3.5rem 9rem 4rem;
    transition: opacity 0.4s;
    /*
    height: 100vh;
    width: 100%;
    overflow: hidden;
    */
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-bottom: 1px solid var(--tn-lighter-main);
}

.full-height-section .html-tags {
    margin-left: -30px;
}

.section-content {
    max-height: 100%;
}

/*
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
*/

.html-tags {
    font-size: 1.5rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-weight: 500;
}

.small-html-tags {
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: black;
    font-weight: 500;
}



.text-shadow {
        text-shadow: 0 1px 0 #8c52ff, 0 2px 0 #8c52ff, 0 3px 0 #8c52ff, 0 4px 0 #8c52ff, 0 5px 0 #8c52ff, 0 6px 0 #8c52ff, 0 7px 0 #8c52ff, 0 8px 0 #8c52ff, 0 9px 0 #8c52ff, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.skills-bar {
    height: 3px;
    background-color: var(--tn-lighter-main);
}

.skill-level {
    background-color: var(--tn-primary);
    height: 100%;
    transition: width 1.3s ease-out;
    width: 0%;
}

.experience-card {
    border-radius: 10px;
    border-left: 6px solid var(--tn-primary);
    background-color: rgb(255 255 255 / 23%);
}

.background-text {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    color: rgba(255,255,255,0.04);
    font-weight: 900;
    font-size: 27rem;
}

.intro-section .background-text {
    font-size: 5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 2rem;
}

.about-section .background-text {
    right: 0;
    bottom: -3rem;
}

.skills-section .background-text {
    left: 5rem;
    top: 10rem;
    transform: rotateZ(-30deg);
}

.projects-section .background-text {
    left: 0rem;
    bottom: 10rem;
    transform: rotateZ(5deg);
}

/* Projects */

.project-description {
    box-shadow: 0 10px 30px -15px var(--tn-lighter-main);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--tn-lighter-main);
    font-size: 18px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--tn-lighter-main);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--tn-text-color);
  }

