* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    position: relative;
    /*
    height: 100%;
    overflow: hidden;
    */
}


body {
    font-family: plus jakarta sans,sans-serif;
    color: var(--tn-secondary);
    background: var(--tn-main-bg-color);
    line-height: 1.6;
    font-size: 16px;
}

main {
    background: var(--tn-main-bg-color);
    scroll-snap-type: x mandatory;
}

:root {
    /* Colors */
    --tn-main:#0e0e0e;
    --tn-lighter-main: #515152;
    --tn-primary: #8c52ff;
    --tn-primary-darker: #608b84;
    --tn-primary-dull: #be863e;
    --tn-secondary: #fff;
    --tn-mid-grey: #666;
    --tn-light-grey: #bbb;
    --tn-lighter-grey: #edeef5;
    /*--tn-main-bg-color: #2c2b35; #252934*/
    --tn-main-bg-color: #1c1c1c;
    --tn-menu-bg-color: #101010;
    --tn-text-color: #b4b4b4;
}

h1 {
    margin: 0;
    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
    position: relative;
    color: var(--tn-secondary);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -12px;
}

h1 > span {
    display: inline-block;
}

h1 > span:hover {
    color: var(--tn-primary);
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
    cursor: pointer;
}

h2 {
    margin: 0;
    color: var(--tn-secondary);
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    letter-spacing: -8px;
}

h4 {
    margin: 0;
    color: var(--tn-secondary);
}

p {
    color: var(--tn-text-color);
    margin: 0;

}

.logo {
    position: absolute;
    right: 0;
    top: 20%;
    transform: rotateZ(-30deg);
    z-index: 1;
}

.logo img{
    width: 700px;

}

.intro-text {
    margin: 0;
    color: var(--tn-text-color);
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}

.purple-text {
    color: var(--tn-secondary);
}

.full-height-section .html-tags {
    margin-left: -30px;
}

.full-height-section  {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-bottom: 1px solid var(--tn-lighter-main);
}

section {
    min-height: 100vh;
    padding: 9rem 3.5rem 9rem 4rem;
    position: relative;
    transition: opacity 0.4s;
    scroll-snap-align: center;
}

/*
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
*/

.html-tags {
    font-size: 1.5rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-weight: 500;
}

.small-html-tags {
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: black;
    font-weight: 500;
}



.text-shadow {
        text-shadow: 0 1px 0 #8c52ff, 0 2px 0 #8c52ff, 0 3px 0 #8c52ff, 0 4px 0 #8c52ff, 0 5px 0 #8c52ff, 0 6px 0 #8c52ff, 0 7px 0 #8c52ff, 0 8px 0 #8c52ff, 0 9px 0 #8c52ff, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.skills-bar {
    height: 3px;
    background-color: var(--tn-lighter-main);
}

.skill-level {
    background-color: var(--tn-primary);
    height: 100%;
}

.experience-card {
    border-radius: 10px;
    border-left: 4px solid var(--tn-primary);
    background-color: var(--tn-lighter-main);
}