* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html, body { 
    height: auto; 
}

body {
    font-family: plus jakarta sans,sans-serif;
    color: var(--tn-secondary);
    background-image: url("../../images/grain-background.png");
    background-color: black;
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

/* Custom Scrollbar - START */

body::-webkit-scrollbar {
    width: 20px;
    background-image: url("../../images/grain-background.png");
    background-color: black;
}
  
body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: none;*/
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--tn-lighter-main);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--tn-text-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--tn-lighter-main) black;
}

/* Custom Scrollbar - END */

:root {
    /* Colors */
    --tn-lighter-main: #515152;
    --tn-primary: #8c52ff;
    --tn-secondary: #fff;
    --tn-mid-grey: #666;
    --tn-light-grey: #bbb;
    --tn-lighter-grey: #edeef5;
    --tn-main-bg-color: #1c1c1c;
    --tn-menu-bg-color: #101010;
    --tn--bg--light: #ffffff;

    --tn-text-color: #b4b4b4;
    --tn--text--light: #1b232a;

    --box--shadow--large: 0px 0px 50px 25px black;
    --box--shadow--small: 0 10px 30px 5px black;

    --tn-tansition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --tn-hover-overlay-light: rgba(85, 92, 105, 0.3);
    --tn-hover-overlay-dark: #1c1c1c91;
}

h1 {
    margin: 0;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1;
    position: relative;
    color: var(--tn-secondary);
    font-family: 'Manrope', sans-serif;
    letter-spacing: -8px;
}

h1 > span {
    display: inline-block;
}

h1 > span:hover {
    color: var(--tn-primary);
    cursor: pointer;
}

h2 {
    margin: 0;
    color: var(--tn-secondary);
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5rem;
    letter-spacing: -2px;
    line-height: 1;
    position: relative;
}

h2 > span:hover {
    color: var(--tn-primary);
    cursor: pointer;
}

.purple {
    color: var(--tn-primary) !important;
}

.purple > span:hover {
    color: var(--tn-secondary);
    cursor: pointer;
}

.contact-container h2 {
    letter-spacing: -5px;
}

h4 {
    margin: 0;
    color: var(--tn-secondary);
}

p {
    color: var(--tn-text-color);
   font-size: 16px;
}

a {
    text-decoration: none !important;
    transition: var(--tn-tansition);
    color: var(--tn-primary);
}

a:hover {
    color: var(--tn-primary);
}

.container {
    width: 100%;
    overflow: hidden;
}


.slides {
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    top: 0;
}

.slides.intro-container {
    height: 100vh;
}

.slides.contact-container {
    height: 100vh;
}

.full-height-section {
    height: 100%;
    padding: 3rem 2.5rem 3rem 3rem;
    transition: opacity 0.4s;
    /*
    height: 100vh;
    width: 100%;
    overflow: hidden;
    */
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-bottom: 1px solid var(--tn-lighter-main);
}

.full-height-section .html-tags {
    margin-left: -30px;
}

/* Nav - START */

#navbar {
    width: 100%;
    background-color: var(--tn-main-bg-color);
    background-image: url("../../images/grain-background.png");
    position: relative;
    z-index: 999;
    border-top: 3px solid black;
    border-bottom: 3px solid var(--tn-primary);
}

.nav-items-container {
    padding: 0 3.5rem 0 4rem;
}

.dot-navigation-container {
    position: fixed;
    top: 50%;
    bottom: auto;
    right: 5px;
    transform: translateY(-50%);
    z-index: 999;
}

#dot_nav ul{
    list-style: none;
    padding: 0;
}

#dot_nav li {
    text-align: right;
    height: 30px;
}

#dot_nav a {
    display: inline-block;
}

#dot_nav a.active .dot {
    background: var(--tn-primary);
    transform: scale(0.75);
}

#dot_nav a:hover .dot {
    background: var(--tn-primary);
    transform: scale(0.75);
}

#dot_nav a span {
    transform: scale(0.6);
}

#dot_nav .dot {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform-origin: 50% 50%;
    background: rgba(255,255,255,.25);
    transition: transform .2s,background-color .5s;
}

#dot_nav .dot-label {
    position: relative;
    color: var(--tn-secondary);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    bottom: 5px;
    transition: transform .2s,opacity .2s;
    opacity: 0;
}

/*
#dot_nav .dot-label {
    position: absolute;
    color: var(--tn-secondary);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    top: 0px;
    right: 10px;
    writing-mode: vertical-rl;
    transition: transform .2s,opacity .2s;
    opacity: 0;
}
*/

/* Nav - END */

/*
.intro-container .full-height-section {
    border-bottom: 0;
}
*/

.contact-container .full-height-section {
    border-bottom: none;
    padding: 3rem 3rem 3rem 3rem;
}

.section-content {
    max-height: 100%;
    width: 100%;
    position: relative;
}

.html-tags {
    font-size: 1.5rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-weight: 500;
}

.small-html-tags {
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: black;
    font-weight: 500;
}

.html-tag-section-top {
    position: absolute;
    top: 10px;
}

.html-tag-section-bottom {
    position: absolute;
    bottom: 10px;
}

.contact-container .html-tag-section-bottom {
    bottom: 70px;
}

.html-tags-bottom {
    position: absolute;
    bottom: 0;
}

.btn{
    padding: 10px;
    border: 2px solid var(--tn-primary);
    border-radius: 5px;
    transition: var(--tn-tansition);
    margin: 10px;
    font-weight: 600;
}

.btn:hover{
    outline: none;
    box-shadow: 3px 3px 0 0 var(--tn-primary);
    transform: translate(-4px, -4px);
}

button.btn {
    background-color: transparent;
    color: var(--tn-primary);
    font-size: 1rem;
    padding: 15px;
    cursor: pointer;
}

.vertical-container-top {
    width: 40px;
    position: fixed;
    top: 0px;
    left: auto;
    right: 10px;
    z-index: 10;
}

.vertical-container-top > div {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.vertical-container-top > div::before {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--tn-secondary);
}

.vertical-container-top > div > a{
    margin: 20px auto;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    line-height: 22px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: var(--tn-secondary);
}

.vertical-container-top > div > a:hover{
    color: var(--tn-primary);
    transform: translateY(-5px);
}

.vertical-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 10px;
    z-index: 10;
}

.vertical-container > div {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.vertical-container > div::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--tn-secondary);
}

.vertical-container > div > a{
    margin: 20px auto;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    line-height: 22px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: var(--tn-secondary);
}

.vertical-container > div > a:hover{
    color: var(--tn-primary);
    transform: translateY(-5px);
}

.scroll-up-container {
    width: 15px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 20px;
    z-index: 10;
}

.logo {
    position: absolute;
    right: 7%;
    top: 2%;
    transform: rotateZ(-30deg);
    z-index: 1;
    perspective: 25px;
}

.logo div {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.logo img{
    width: 100px;
}

.t-logo-container {
    display: inline-block;
    perspective: 25px;
}

.t-logo-container div {

}

.t-logo {
    width: 40px;
    margin-right: -10px;
    margin-top: -20px;
}

.intro-text {
    margin: 0;
    color: var(--tn-text-color);
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.secondary-text {
    color: var(--tn-secondary);
}



/*
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    top: -1rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    text-transform: lowercase;
    color: var(--tn-lighter-main);
    font-size: 1.8rem;
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
*/

.color-text {
    color: var(--tn-primary);
}

.text-shadow {
        text-shadow: 0 1px 0 #8c52ff, 0 2px 0 #8c52ff, 0 3px 0 #8c52ff, 0 4px 0 #8c52ff, 0 5px 0 #8c52ff, 0 6px 0 #8c52ff, 0 7px 0 #8c52ff, 0 8px 0 #8c52ff, 0 9px 0 #8c52ff, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.about-title {
    display: flex;
}

.skills-bar {
    height: 3px;
    background-color: var(--tn-lighter-main);
}

.skill-level {
    background-color: var(--tn-primary);
    height: 100%;
    transition: width 1.3s ease-out;
    width: 0%;
}

.experience-section {
    padding: 30px 0 30px 0;
}

.experience-card {
    border-radius: 10px;
    border-left: 6px solid var(--tn-primary);
    background-color: #323232;
    box-shadow: var(--box--shadow--large);
}

.background-text {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    color: rgba(255,255,255,0.04);
    font-weight: 900;
    font-size: 27rem;
}

.intro-section .background-text {
    font-size: 5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 2rem;
}

.about-section .background-text {
    right: 0;
    bottom: 30%;
    font-size: 7rem;
    transform: rotateZ(20deg);
}

.skills-section .background-text {
    top: 10rem;
    transform: rotateZ(-30deg);
    font-size: 15rem;
}

/* Projects */

.projects-container {
    height: 100%;
}

.projects-container .full-height-section {
    padding: 3rem 2rem 3rem 2rem;
}

.projects-title {
    padding-left: 1rem;
    width: 100%;
}

.projects-section .background-text {
    left: -10rem;
    transform: rotateZ(50deg);
}

.project-image-container {
    transition: all ease-in-out 0.15s;
}

.project-image-container:hover {
    cursor: pointer;
    transform: translateY(-10px) !important;
}

.project-image-container:hover .project-image{
    opacity: 0.7;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 300px 50px black;
}
/*
.project-image-container:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tn-hover-overlay-dark);
    z-index: 2;
}
*/

/*
.projects-area:hover .project-image {
    transform: scale(0.85);
    filter: blur(4px);
}

.project-image:hover {
    transform: scale(1.1) !important;
    transition: all ease-in-out 0.15s;
}

*/

.project-image > img {
    border-radius: 5px;
    box-shadow: var(--box--shadow--large);
}

.project-overlay-contents {
    display: none;
}

.project-image-container:hover .project-overlay-contents {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.project-type {
    margin: 0 0 -10px 0;
    color: var(--tn-primary);
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.5rem;

}

.project-title {
    color: var(--tn-secondary);
    font-size: 2rem;
    margin-top: 0;
}

.project-container .project-content{
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    z-index: 10;
}

.project-container:nth-of-type(2n+1) .project-content {
    text-align: right;
    margin-left: 0;
    margin-right: 0;
}

.project-container  .project-description {
    box-shadow: var(--box--shadow--small);
    padding: 25px;
    border-radius: 10px;
    background-color: #323232;
    font-size: 18px;
    border-right: 6px solid var(--tn-primary);
    border-left: 0;
}


.project-container:nth-of-type(2n+1) .project-description{
    border-left: 6px solid var(--tn-primary);
    border-right: 0;
}

.project-description p{
    margin: 0;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    font-family: 'Manrope', sans-serif;

}

.project-tech-stack li {
    margin: 0px 20px 5px 0px;
}

.project-container:nth-of-type(2n+1) .project-tech-stack {
    justify-content: end;
    -webkit-box-pack: end;
}

.project-container:nth-of-type(2n+1) .project-tech-stack li {
    margin: 0px 0px 5px 20px;
}

.project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.project-container:nth-of-type(2n+1) .project-links {
    justify-content: flex-end;
    -webkit-box-pack: end;
}

.project-links .icon-link{
    display: inline-block;
    color: var(--tn-secondary);
}

.project-links .icon-link:hover{
    color: var(--tn-primary);
    transform: translateY(-5px);
}

.project-links a{
    margin-right: 10px;
}

.project-links a:first-child{
    margin-right: 20px;
}

.project-slide-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.project-slide-btn > button {
    border: 2px solid var(--tn-primary);
    width: 45px;
    height: 45px;
}

.uk-card {
    background-color: #323232;
    border-radius: 10px;
    border-left: 6px solid var(--tn-primary);
    box-shadow: var(--box--shadow--small);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uk-card:hover {
    box-shadow: var(--box--shadow--large);
    cursor: pointer;
    transform: translateY(-10px) !important;
}

.uk-card:hover .other-projects-title > a {
    color: var(--tn-primary);
}

.other-project-header {
    color: var(--tn-secondary);
    font-size: 2rem;
    margin: 0;
}

.other-projects-title {
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}

.other-projects-title a{
    color: var(--tn-secondary);
}

.other-project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    padding: 0;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

.other-project-tech-stack li:first-of-type {
    margin: 0px 0px 5px 0px;
}

.other-project-tech-stack li {
    margin: 0px 0px 5px 20px;
}

.fa-folder {
    color: var(--tn-primary);
}

/*
.uk-card > footer {
    position: absolute;
    bottom: 30px;
}
*/

/* Projects - END */

/* Modals - START */

.uk-modal-dialog {
    color: var(--tn-secondary);
    background-image: url("../../images/grain-background.png");
    background-color: black;
    height: 100%;
}

/* Modals - END */


.email-btn {
    padding: 1.25rem 2rem;
    font-size: large;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer p {
    color: var(--tn-primary);
}

.hide {
    display: none;
}

.more-to-come {
    font-size: 3rem;
    color: var(--tn-secondary);
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    margin: 0;
}


.ring
{
  /*position:absolute;*/
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:120px;
  height:120px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:120px;
  font-family:sans-serif;
  font-size:16px;
  color:var(--tn-primary);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px var(--tn-primary);;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--tn-primary);
  border-right:3px solid var(--tn-primary);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background: var(--tn-primary);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--tn-primary);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}