/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {

    :root {
        --box--shadow--large: 0px 0px 100px 25px black;
    }

    .slides {
        padding: 0 30px;
    }
    /*
    .slides.about-container {
        height: 100vh;
    }
    */

    /*
    .dot-navigation-container {
        right: 20px;
    }

    .vertical-container {
        right: 20px;
    }

    .vertical-container-top {
        right: 20px;
    }
    */
    
    .full-height-section {
        padding: 6rem 3.5rem 6rem 4rem;
    }

    .html-tag-section-top {
        top: 50px;
    }

    .html-tag-section-bottom {
        bottom: 50px;
    }

    .section-content {
        margin-left: 10px;
    }

    .logo {
        right: 5%;
        top: 13%;
    }
    
    .logo img{
        width: 200px;
    }

    .t-logo {
        width: 60px;
    }

    h1 {
        font-size: 7rem;
        letter-spacing: -12px;
    }

    h2 {
        font-size: 4rem;
    }

    .intro-text {
        font-size: 1.33rem;
    }

    .about-section-img {
        width: 45vw;
    }

    .about-section .background-text {
        font-size: 12rem;
    }


    .experience-section {
        padding: 30px;
    }
    
    .projects-container .full-height-section {
        padding: 8rem 3.5rem 8rem 4rem;
    }

    .projects-title {
        padding-left: 0;
    }

    .contact-container .full-height-section {
        padding: 3rem 3.5rem 3rem 4rem;
    }

}

/* Small devices in landscape mode */
@media (orientation:landscape) and (max-height: 600px){

    .vertical-container {
        display: none;
    }

    .vertical-container-top {
        display: none;
    }

    .section-tags {
        display: none;
    }

    .slides.intro-container {
        height: 100%;
    }

    .full-height-section {
        padding: 9rem 3.5rem 9rem 4rem;
        height: auto;
    }

    p {
        font-size: 16px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .slides {
        padding: 0 40px;
    }

    .full-height-section {
        padding: 6rem 3.5rem 6rem 4rem;
    }

    .section-content {
        margin-left: 20px;
    }

    .logo {
        right: 5%;
        top: 12%;
    }
    
    .logo img{
        width: 300px;
    
    }

    .intro-text {
        font-size: 1.65rem;
    }

    .about-section-img {
        width: 40vw;
        max-width: 900px;
    }    

    .skills-section .background-text {
        font-size: 27rem;
        left: 5rem;
    }

    /*
    #dot_nav a:hover .dot-label {
        opacity: 1;
    }
*/
}

/* Large devices (laptops/desktops, 960px and up) */
@media only screen and (min-width: 960px) {

    h2 {
        font-size: 5rem;
    }

    .full-height-section {
        padding: 9rem 3.5rem 9rem 4rem;
    }
    
    .logo {
        top: 10%;
    }

    .logo img{
        width: 370px;
    
    }

    .intro-text {
        font-size: 2rem;
    }

    .about-section .background-text {
        font-size: 16rem;
    }

    .about-title {
        display: block;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    p {
        font-size: 18px;
    }    

    .logo {
        top: 18%;
    }
    
    .logo img{
        width: 400px;
    
    }

    .slides.about-container {
        height: 100vh;
    }

    .slides.skills-container {
        height: 100vh;
    }

    .project-container .project-content{
        margin-right: -100px;
    }
    
    .project-container:nth-of-type(2n+1) .project-content {
        margin-left: -100px;
    }

    .projects-section .background-text {
        left: 3rem;
        transform: rotateZ(5deg);
    }

}

/* Extra large devices (Desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {



    .logo {
        top: 20%;
    }
    
    .logo img{
        width: 570px;
    
    }

    .about-section .background-text {
        right: 0;
        bottom: -3rem;
        font-size: 27rem;
        transform: none;
    }

}

/* Extra large devices (Desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    
    .logo img{
        width: 700px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
