
[data-section="about"]::after {
    content: "";
    position: absolute;
    margin: auto 0px;
    top: 0;
    left: -200px;
    bottom: 0;
    opacity: 0.7;
    filter: blur(10em);
    background: rgb(130,68,255);
    background: linear-gradient(126deg, rgba(130,68,255,1) 40%, rgba(249,38,174,1) 100%);
    border-radius: 9999px;
    width: 300px;
    height: 300px;
}

[data-section="about"] .background-text {
    left: 5%;
    bottom: 40%;
    font-size: 7rem;
    transform: rotateZ(20deg);
}

[data-section="about"] .section-title {
    display: flex;
}


@media only screen and (min-width: 640px) {
    [data-section="about"] img {
        width: 45vw;
    }

    
    [data-section="about"] .background-text {
        font-size: 12rem;
        bottom: 45%;
        left: auto;
        right: 0;
    }
}

@media only screen and (min-width: 768px) {
    [data-section="about"] img {
        width: 30vw;
        max-width: 700px;
    }

    [data-section="about"] .background-text {
        font-size: 18rem;
        bottom: 25%;
        left: auto;
        right: 0;
    }
}

@media only screen and (min-width: 1024px) {

    [data-section="about"] .section-title {
        display: block;
    }
}

@media only screen and (min-width: 1280px) {
    [data-section="about"] {
        height: 100vh;
    }

    [data-section="about"] .background-text {
        font-size: 24rem;
    }
}

@media only screen and (min-width: 1536px) {
    [data-section="about"] .background-text {
        right: 0;
        bottom: -3rem;
        font-size: 27rem;
        transform: none;
    }
}