.vertical-container {
    width: 40px;
    position: fixed;
    left: auto;
    right: 20px;
    z-index: 10;
}

@media (orientation:landscape) and (max-height: 600px){

    .vertical-container {
        display: none !important;
    }
  
}

@media only screen and (min-width: 1280px) {

    .vertical-container {
        right: 15px;

    } 

}